doctype html
html.default(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title CodeChallenge

    //- seo
    meta(name='application-name', content='CodeChallenge')
    meta(name='author', content='Taha Siddiqui, cooperator_dragon@outlook.com')
    meta(name='description', content='CodeChallenge')
    meta(name='keywords', content='admin, template, wrapbootstrap, metro, modern, flat, responsive, rubix, react, redux, laravel')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')


  body
    //- script(id='preloadedData', type='application/json')!=data
    //- test
    block header
    block plugins
    block content
    block app
